{% extends 'layouts/site-layout.html' %}

{% block head %}
<title>{{ book.title }} | Crimson Hack</title>
<meta name="description" content="{{ book.short_description }}">
<meta name="author" content="{{ book.author.get_full_name }}">
{% endblock head %}

{% block content %}
<div itemscope itemtype="https://schema.org/Book">
    <div class="page-header">
        <h1 itemprop="headline">{{ book.title }}</h1>
    </div>
    {% if book.featured_image %}<img class="img-responsive featured" src="{{ MEDIA_URL }}{{ book.featured_image }}" alt="{{ book.title }}" />{% endif %}
    <article itemprop="about">
        {{ book.description |safe }}
    </article>
    <p>
        Author: <a href="{% url 'accounts:user_profile_view' book.author.username %}"><span itemprop="author">{{ book.author.get_full_name }}</span></a>
        <br />
        Category: {{ book.category }}
        <br />
        Tags: {{ book.tags }}
    </p>
    <div class="page-header">
        <h3>Book Index</h3>
    </div>
    {% for chapter in book_chapters %}
        <h4><a href="{{ chapter.get_absolute_url }}">{% if book.show_chapter_number %}Chapter {{ chapter.chapter_number }}: {% endif %}{{ chapter.title }}</a></h4>
        <p class="article">{{ chapter.summary }}</p>
        <hr />
    {% endfor %}
</div>
{% endblock content %}